
.sect{
    padding-bottom: 100px;
}
.fw-sbold{
    font-weight: 600;
}
.pt-100{
    padding-top: 250px;
    padding-bottom: 100px;
}
@media (max-width:1000px) {
    .pt-100{
        padding-top: 130px;
        padding-bottom: 50px;
    }
}
.mt-50{
    margin-top: 50px;
}

@media (max-width: 1000px) {
    .blog-news-row{
        display: grid;
        grid-template-columns: 38% 58%;
        justify-content: space-between;
        margin-top: 26px;
        height: 140px;
        overflow-y: hidden;
    }
    .blog-img img {
       width: 100%;
       height: 140px;
    }
    .blog-text p{
        font-size: 13px !important;
    }
}